# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
.dist/
build/
.env
.env.*
*.log

# Virtual envs
.venv/
venv/

# OS / IDE
.DS_Store
.idea/
.vscode/

# Redis / runtime
dump.rdb
*.pid

# Windows
Thumbs.db
desktop.ini

# Binaries (если решишь хранить redis конфиги — ок, но экзешники лучше не коммитить)
fanslymotion/redis/*.exe
fanslymotion/redis/*.pdb
fanslymotion/redis/*.dll

# Bot output files
bot_output.txt
*.txt

# Environment files
fanslymotion/env